

@font-face {
    font-family: Oswald;
    src: url("./font/oswald/Oswald-VariableFont_wght.ttf");
}

* {
    text-align: center;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin-bottom: 10vh;
}

div #main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

div #header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

div #title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div #title h1{
    margin: 0;
}

div #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div #content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
}

div .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    min-width: 200px;
    margin: 10px;
    padding: 15px;
    background-color: #EEEEEE;
}

div.card img{
    width: 100%;
    border: 5px solid #FF6464;
}

a {
    color: #1F305D;
}

a:visited {
    color: #1F305D;
}

a, p {
    font-size: 1.2rem;
}

h2 a{
    font-size: unset;
}

p {
    margin: 0;
}

h2 {
    color: #FF6464;
}

h1 {
    color: #FF6464;
}